/** NEWS ITEM STYLE GRID **/

.news__item {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 5px 12px 2px #d9d9d9;
    background-color: #fff;
    &-image {
        overflow: hidden;
        position: relative;
        padding-bottom: 55%;
        img {
            transition: .3s;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:hover {
            img {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
            }
        }
    }
    &-content {
        padding: 15px;
    }
    &-info {
        font-size: 13px;
        color: #5f5f5f;
        margin-bottom: 10px;
        .info__time {
            display: flex;
            align: center;
            &:before {
                content: url("data:image/svg+xml,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' data-prefix='far' data-icon='clock' class='svg-inline--fa fa-clock fa-w-16' role='img' viewBox='0 0 512 512'%3E%3Cpath fill='%235f5f5f' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z'/%3E%3C/svg%3E");
                margin-right: 5px;
                transform: translateY(1px);
            }
        }
    }
    &-title {
        color: #000;
        font-weight: 500;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        margin-bottom: 10px;
        font-size: 17px;
        display: -webkit-box!important;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2 !important;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: 'Merriweather', serif;
        font-weight: 700;
        &:hover {
            color: var(--primary-color);
        }
    }
    &-desc {
        margin-top: auto;
        font-size: 14px;
        display: -webkit-box!important;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3 !important;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &-link {
        margin-top: 10px;
        display: inline-block;
        margin-bottom: 15px;
        font-style: italic;
        color: var(--primary-color);
    }
}