/** INTRO **/

.recruitment-intro {
    padding: 50px 0 20px 0;
    &__image {
        padding-bottom: 66.67%;
    }
    &__title {
        font-size: 26px;
        font-weight: 600;
        @include breakpoint(767) {
            font-size: 24px;
        }
    }
    &__desc {
        font-size: 18px;
        line-height: 1.8;
    }
    &__link {
        display: inline-block;
        padding: 10px 20px;
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
        -webkit-transition: padding .3s;
        -o-transition: padding .3s;
        transition: padding .3s;
        &:hover {
            background-color: var(--primary-color);
            color: #fff;
            padding: 10px 40px;
        }
    }
}


/** GALLERY **/

.recruitment-gallery {
    padding: 40px 0;
    &__carousel {
        margin-left: -15px;
        margin-right: -15px;
    }
    .img-block {
        padding-bottom: 66.67%;
    }
    .flickity-button {
        border: 2px solid var(--primary-color);
        background-color: transparent;
        svg {
            width: 50%;
            height: 50%;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            path {
                fill: var(--primary-color);
            }
        }
        &.next {
            right: -4%;
            @include breakpoint(1023) {
                right: 0;
            }
        }
        &.previous {
            left: -4%;
            @include breakpoint(767) {
                left: 0;
            }
        }
        @include breakpoint(1023) {
            &.next {
                right: 15px;
            }
            &.previous {
                left: 15px;
            }
        }
    }
}


/** LIST **/

.recruitment-list {
    padding: 40px 0;
    background-color: #c1582a42;
    &__title {
        font-size: 30px;
        @include breakpoint(767) {
            font-size: 25px;
        }
        color: var(--primary-color);
    }
}

.recruitment-item {
    padding: 15px 30px 30px 30px;
    border-bottom: 1px solid rgba(112, 112, 112, .1);
    -webkit-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
    @include breakpoint(767) {
        padding: 15px;
    }
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        bottom: -1px;
        background-color: var(--primary-color);
        opacity: 0;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }
    &__title {
        a {
            font-size: 18px;
            color: var(--primary-color);
        }
    }
    &__info {}
    &__expiration-date {}
    &__link {
        color: var(--primary-color);
        padding: 8px 15px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        display: inline-block;
        @include breakpoint(1023) {
            padding: 0;
            margin-top: 10px;
        }
        &:after {
            margin-left: 5px;
            content: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 1' stroke='%23c1582a' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
    }
    @media(hover) {
        &:hover {
            background-color: #fff;
            border-color: transparent;
        }
        &:hover:after {
            opacity: 1;
        }
        &:hover &__link {
            padding: 8px 30px;
            background-color: var(--primary-color);
            color: #fff;
        }
        &:hover &__link:after {
            content: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 1' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        }
    }
}


/** SINGLE RECRUITMENT **/

.single-recruitment-head {
    padding: 50px 0;
    background-color: #c1582a42;
    border-bottom: 3px solid var(--primary-color);
    @include breakpoint(767) {
        padding: 25px 0;
    }
    &__content {
        font-size: 19px;
        color: var(--primary-color);
        @include breakpoint(767) {
            font-size: 17px;
        }
    }
}

.single-recruitment-main {
    padding: 50px 0;
    @include breakpoint(767) {
        padding: 40px 0;
    }
}

.single-recruitment-content {
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
}

.single-recruitment-share {
    li {
        margin-right: 25px;
        svg {
            path {
                fill: var(--primary-color);
            }
        }
    }
}

.single-recruitment-sidebar {
    background-color: var(--primary-color);
    padding: 30px;
    border-radius: 8px;
    @include min-breakpoint(1200) {
        height: 100%;
    }
    &__head {
        font-size: 28px;
        @include breakpoint(767) {
            font-size: 25px;
        }
        border-bottom: 1px solid #ffffff88;
    }
    &__content {
        font-size: 16px;
        a {
            color: currentColor;
        }
    }
}