/** =============== Font ================= **/

@font-face {
    font-family: utmkt;
    src: url('../font/UTM-Scriptina-KT.ttf');
}


/** =============== Color ================= **/

:root {
    --primary-color: #c1582a;
    --primary-variant: #974521;
    --secondary-color: #ffa400;
}