/** Footer **/

.footer {
    padding: 80px 0 85px 0;
    ul,
    li,
    ol {
        list-style: none;
        padding: 0;
        margin: 0;
        a {
            color: #fff;
            &:hover {
                color: var(--secondary-color);
            }
        }
    }
    p {
        line-height: 1.8;
    }
    &__item {
        &-title {
            font-size: 18px;
            margin-bottom: 25px;
        }
    }
    &__menu {
        font-size: 15px;
        ul {
            padding-left: 20px;
            li {
                margin-bottom: 10px;
                a {}
            }
        }
    }
}

.contact-info {
    ul {
        li {
            a {}
            .li-icon {
                max-width: 15px;
                flex-basis: 15px;
                -webkit-transform: translateY(-3px);
                -ms-transform: translateY(-3px);
                transform: translateY(-3px);
            }
            .li-content {
                max-width: calc(100% - 15px);
                flex-basis: calc(100% - 15px);
            }
        }
    }
}

.social-media-list {
    margin-top: 38px!important;
    li {
        a {
            width: 30px;
            height: 30px;
            background-color: #fff;
            svg {
                height: 18px;
                width: 18px;
                path {
                    fill: #3A3027;
                }
            }
            &:hover {
                background-color: var(--secondary-color);
                svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }
}